# Download Quandl data to apply Defensive Investor's criteria

In [103]:
%load_ext autoreload
%autoreload 2

import sys
import pandas as pd
import numpy as np
import quandl
import os
import warnings
from datetime import datetime
from tqdm import tqdm_notebook as tqdm
import pandas_datareader as pdr
import matplotlib.pyplot as plt
from graham import *

warnings.filterwarnings('ignore')
quandl.ApiConfig.api_key = os.getenv('QUANDL_APY_KEY')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## DJIA 30 companies

In [17]:
list_djia = get_djia_symbols()

In [31]:
fname = os.path.join(os.getcwd(), 'data_defensive', 'djia.csv')

columns = ['ticker', 'calendardate', 'datekey', 'revenueusd', 'currentratio', 'eps', 'dps', 'bvps', 'price']
df = quandl.get_table('SHARADAR/SF1', dimension='ARY', ticker=list_djia, qopts={"columns":columns}, 
                            paginate=True)
df.sort_values(['ticker', 'calendardate'], inplace=True)
df.to_csv(fname, index=False)

## S&P 500 companies

In [60]:
list_sp500 = get_sp500_symbols()
len(list_sp500)

505

In [62]:
fname = os.path.join(os.getcwd(), 'data_defensive', 'sp500.csv')


def batch(iterable, n=1):
    l = len(iterable)
    for ndx in range(0, l, n):
        yield iterable[ndx:min(ndx + n, l)]

        
list_dfs = []
i = 1
for x in batch(list_sp500, 200):
    print(f'Batch {i}: from {x[0]} to {x[-1]}')
    columns = ['ticker', 'calendardate', 'datekey', 'revenueusd', 'currentratio', 'eps', 'dps', 'bvps', 'price']
    df = quandl.get_table('SHARADAR/SF1', dimension='ARY', ticker=x, qopts={"columns":columns}, 
                          paginate=True)
    df.sort_values(['ticker', 'calendardate'], inplace=True)
    list_dfs.append(df)
    i += 1

final_df = pd.concat(list_dfs, axis=0)
final_df.to_csv(fname, index=False)

Batch 1: from MMM to FLIR
Batch 2: from FLS to REGN
Batch 3: from RF to ZTS

In [63]:
final_df['ticker'].nunique()

495

## All Quandl SHARADAR/SF1 companies

In [104]:
sf1_df = quandl.get_table('SHARADAR/TICKERS', table='SF1', paginate=True)
sf1_df.head()

,table,permaticker,ticker,name,exchange,isdelisted,category,cusips,siccode,sicsector,...,currency,location,lastupdated,firstadded,firstpricedate,lastpricedate,firstquarter,lastquarter,secfilings,companysite
None,,,,,,,,,,,,,,,,,,,,,
0,SF1,196290,A,Agilent Technologies Inc,NYSE,N,Domestic,00846U101,3826.0,Manufacturing,...,USD,California U.S.A,2018-12-20,2014-09-26,1999-11-18,2019-01-28,1997-06-30,2018-09-30,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.agilent.com
1,SF1,124392,AA,Alcoa Corp,NYSE,N,Domestic,013872106,3350.0,Manufacturing,...,USD,New York U.S.A,2018-11-02,2016-11-01,2016-11-01,2019-01-28,2014-12-31,2018-09-30,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.alcoa.com
2,SF1,122827,AAAB,Admiralty Bancorp Inc,NASDAQ,Y,Domestic,007231103,6022.0,Finance Insurance And Real Estate,...,USD,Florida U.S.A,2018-10-16,2017-09-09,1998-09-28,2003-01-29,1997-09-30,2002-09-30,https://www.sec.gov/cgi-bin/browse-edgar?actio...,None
3,SF1,120538,AAAGY,Altana Aktiengesellschaft,NYSE,Y,ADR,02143N103,2834.0,Manufacturing,...,EUR,Jordan,2018-02-13,2018-02-13,2002-05-22,2010-08-12,2000-12-31,2005-12-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,None
4,SF1,155760,AAAP,Advanced Accelerator Applications SA,NASDAQ,Y,ADR,00790T100,2834.0,Manufacturing,...,EUR,France,2017-07-17,2016-05-19,2015-11-11,2018-02-09,2013-12-31,2016-12-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,None

In [105]:
# Checking survival bias
print(f"{sf1_df[(sf1_df['table'] == 'SF1') & (sf1_df['isdelisted'] == 'N')].shape[0]:,} " \
      f"companies alive from {sf1_df[sf1_df['table'] == 'SF1'].shape[0]:,} total included, table SF1")

5,260 companies alive from 14,121 total included, table SF1

In [106]:
fname = os.path.join(os.getcwd(), 'data_defensive', 'sf1.csv')

list_sf1 = sf1_df['ticker'].tolist()
list_dfs = []
i = 1
for x in batch(list_sf1, 200):
    print(f'Batch {i}: from {x[0]} to {x[-1]}')
    columns = ['ticker', 'calendardate', 'datekey', 'revenueusd', 'currentratio', 'eps', 'dps', 'bvps', 'price']
    df = quandl.get_table('SHARADAR/SF1', dimension='ARY', ticker=x, qopts={"columns":columns}, 
                          paginate=True)
    df.sort_values(['ticker', 'calendardate'], inplace=True)
    list_dfs.append(df)
    i += 1

final_df = pd.concat(list_dfs, axis=0)
final_df.to_csv(fname, index=False)

Batch 1: from A to ACY
Batch 2: from AD to AHL
Batch 3: from AHL1 to AMCX
Batch 4: from AMD to APMC
Batch 5: from APN to ASML
Batch 6: from ASN to AVTM
Batch 7: from AVV to BDI
Batch 8: from BDIC to BL
Batch 9: from BL1 to BRLS
Batch 10: from BRN to CAGZ
Batch 11: from CAH to CCGM
Batch 12: from CCH to CFSG
Batch 13: from CFSI to CLA
Batch 14: from CLAC to CNET1
Batch 15: from CNF to CPP
Batch 16: from CPPL to CTB
Batch 17: from CTBC to CYM
Batch 18: from CYMI to DHR
Batch 19: from DHSM1 to DSIT
Batch 20: from DSKE to EDMC
Batch 21: from EDNT to ENHT
Batch 22: from ENIA to ET1
Batch 23: from ETEC to FCAP
Batch 24: from FCAU to FLD1
Batch 25: from FLDM to FRO1
Batch 26: from FRP to GBSE
Batch 27: from GBSN to GLMD
Batch 28: from GLNG to GSHD
Batch 29: from GSIC to HCOR1
Batch 30: from HCOW to HOLX
Batch 31: from HOMB to IAAI
Batch 32: from IAC to IHT
Batch 33: from IICR to INTS
Batch 34: from INTT to IVZ
Batch 35: from IWA to KBR
Batch 36: from KBSF to KTN1
Batch 37: from KTO to LIA
Batch 38: from LIBB to LTEK
Batch 39: from LTHM to MCAR
Batch 40: from MCAR1 to MG1
Batch 41: from MGA to MODL
Batch 42: from MODM to MTL
Batch 43: from MTLG to NCH
Batch 44: from NCI to NMED2
Batch 45: from NMFC to NTSP
Batch 46: from NTST to OHRI
Batch 47: from OHRP to OSL
Batch 48: from OSM to PCSV
Batch 49: from PCTI to PIN1
Batch 50: from PINC to POZN
Batch 51: from PP to PTEO
Batch 52: from PTET to QUIZ
Batch 53: from QUMU to RFMI
Batch 54: from RFP to RPTP
Batch 55: from RPTR to SBIT
Batch 56: from SBKC to SFNC
Batch 57: from SFNT to SKYF
Batch 58: from SKYL to SOLP
Batch 59: from SOLUQ to SSRX
Batch 60: from SSSW to SWBS
Batch 61: from SWC to TCPTF
Batch 62: from TCR to TLF
Batch 63: from TLG to TREE
Batch 64: from TREE1 to TVLYQ
Batch 65: from TVPT to UNIS
Batch 66: from UNIT to VCO
Batch 67: from VCOM to VRRM
Batch 68: from VRS to WELL
Batch 69: from WEN to WSBF1
Batch 70: from WSBI to YFBC
Batch 71: from YGE to ZZ

In [107]:
final_df

,ticker,calendardate,datekey,revenueusd,currentratio,eps,dps,bvps,price
None,,,,,,,,,
1694,A,1999-12-31,2000-01-25,8.331000e+09,2.105,1.35,0.000,8.900,67.690
1693,A,2000-12-31,2001-01-17,1.077300e+10,2.050,1.68,0.000,11.648,61.940
1691,A,2001-12-31,2002-02-01,8.396000e+09,2.397,0.38,0.000,12.275,29.610
1692,A,2001-12-31,2002-01-22,8.396000e+09,2.397,0.38,0.000,12.275,27.160
1690,A,2002-12-31,2002-12-20,6.010000e+09,2.238,-2.22,0.000,9.951,18.000
1689,A,2003-12-31,2003-12-22,6.056000e+09,2.040,-4.35,0.000,5.933,28.370
1688,A,2004-12-31,2004-12-21,7.181000e+09,2.446,0.72,0.000,7.344,23.820
1687,A,2005-12-31,2006-01-17,5.139000e+09,2.297,0.66,0.000,8.162,33.760
1686,A,2006-12-31,2006-12-22,4.973000e+09,2.573,7.67,0.000,8.898,33.720
1685,A,2007-12-31,2007-12-21,5.420000e+09,2.207,1.62,0.000,8.601,37.190
1684,A,2008-12-31,2008-12-19,5.774000e+09,2.421,1.91,0.000,7.168,16.280
1683,A,2009-12-31,2009-12-21,4.481000e+09,3.527,-0.09,0.000,7.306,29.910
1682,A,2010-12-31,2010-12-20,5.444000e+09,2.001,1.97,0.000,9.384,40.630
1681,A,2011-12-31,2011-12-16,6.615000e+09,3.032,2.92,0.000,12.415,33.460
1680,A,2012-12-31,2012-12-20,6.858000e+09,2.445,3.31,0.300,14.891,41.360
1679,A,2013-12-31,2013-12-19,6.782000e+09,3.110,2.12,0.460,15.922,57.380
1678,A,2014-12-31,2014-12-22,6.981000e+09,3.231,1.51,16.194,15.910,41.880
1677,A,2015-12-31,2015-12-21,4.038000e+09,3.777,1.20,0.400,12.627,40.830
1676,A,2016-12-31,2016-12-20,4.202000e+09,3.847,1.42,0.460,13.015,46.210
1675,A,2017-12-31,2017-12-21,4.472000e+09,3.301,2.12,0.528,15.003,67.520
1674,A,2018-12-31,2018-12-20,4.914000e+09,3.286,0.98,0.596,14.362,65.190
1667,AA,2015-12-31,2016-10-26,1.119900e+10,1.067,NaN,0.000,51.633,NaN
1668,AA,2015-12-31,2016-10-11,1.119900e+10,1.067,NaN,0.000,51.633,NaN
1669,AA,2015-12-31,2016-09-29,1.119900e+10,1.067,NaN,0.000,NaN,NaN
1670,AA,2015-12-31,2016-09-13,1.119900e+10,1.067,NaN,0.000,NaN,NaN
1671,AA,2015-12-31,2016-09-01,1.119900e+10,1.067,NaN,0.000,NaN,NaN
1672,AA,2015-12-31,2016-08-12,1.119900e+10,1.067,NaN,0.000,NaN,NaN
1673,AA,2015-12-31,2016-06-29,1.119900e+10,1.067,NaN,0.000,NaN,NaN
1666,AA,2016-12-31,2017-03-15,9.318000e+09,1.128,-2.19,0.000,30.694,35.140
1665,AA,2017-12-31,2018-02-26,1.165200e+10,1.303,1.18,0.000,24.294,46.680
...,...,...,...,...,...,...,...,...,...
29,ZX,2013-12-31,2014-04-28,6.096350e+08,1.388,4.52,0.000,12.169,2.380
28,ZX,2014-12-31,2015-04-30,5.394553e+08,1.507,1.52,0.000,12.552,1.350
27,ZX,2015-12-31,2016-04-28,3.775361e+08,1.623,-0.56,0.000,12.414,0.990
26,ZX,2016-12-31,2017-04-28,3.267913e+08,1.680,-0.52,0.000,12.288,1.620
25,ZX,2017-12-31,2018-04-27,4.495257e+08,1.795,0.16,0.000,12.332,1.301
24,ZYME,2016-12-31,2017-04-24,1.100900e+07,2.808,-2.65,0.000,0.707,NaN
23,ZYME,2017-12-31,2018-03-14,5.176200e+07,6.298,-0.51,0.000,5.479,10.680
22,ZYNE,2014-12-31,2015-07-31,8.100120e+05,3.686,-6.44,0.000,-9.001,NaN
21,ZYNE,2015-12-31,2016-03-14,2.789000e+05,11.026,-2.82,0.000,8.907,21.030
20,ZYNE,2016-12-31,2017-03-27,7.250000e+03,5.226,-2.58,0.000,3.055,21.160
19,ZYNE,2017-12-31,2018-03-12,0.000000e+00,9.167,-2.48,0.000,4.539,10.530
18,ZYTO,2010-12-31,2011-03-28,4.033030e+06,0.408,-0.01,0.000,-0.074,0.090
17,ZYTO,2011-12-31,2012-03-30,4.094617e+06,0.263,-0.01,0.000,-0.081,0.040
16,ZYXI,2009-12-31,2010-03-31,2.091044e+07,2.699,0.08,0.000,0.245,0.910
15,ZYXI,2010-12-31,2011-03-28,2.848500e+07,2.257,0.01,0.000,0.268,0.750
14,ZYXI,2011-12-31,2012-03-28,3.967700e+07,1.851,0.05,0.000,0.329,0.800
13,ZYXI,2012-12-31,2013-03-28,4.715300e+07,1.766,0.05,0.000,0.387,0.600
12,ZYXI,2013-12-31,2014-03-28,2.845100e+07,1.415,-0.23,0.000,0.157,0.430
11,ZYXI,2014-12-31,2015-03-31,1.111700e+07,0.708,-0.20,0.150,-0.038,0.140
10,ZYXI,2015-12-31,2016-03-31,1.164100e+07,0.367,-0.09,0.000,-0.127,0.340
8,ZYXI,2016-12-31,2017-04-18,1.331300e+07,0.442,0.00,0.000,-0.119,0.330
9,ZYXI,2016-12-31,2017-04-17,1.331300e+07,0.442,0.00,0.000,-0.119,0.340
7,ZYXI,2017-12-31,2018-02-28,2.343200e+07,2.085,0.23,0.000,0.152,4.340
6,ZZ,2005-12-31,2006-03-24,1.469574e+09,1.086,0.97,0.000,-5.857,NaN
5,ZZ,2006-12-31,2007-02-23,1.582843e+09,1.198,0.89,0.225,-1.900,17.690
4,ZZ,2007-12-31,2008-01-31,1.702065e+09,1.068,0.87,0.300,-1.423,9.320
3,ZZ,2008-12-31,2009-01-15,1.498023e+09,1.239,-0.03,0.000,-1.807,2.320
2,ZZ,2009-12-31,2010-01-25,1.290064e+09,1.686,0.15,0.000,-1.171,3.070
1,ZZ,2010-12-31,2011-01-21,1.219471e+09,1.953,-0.14,0.000,-0.914,2.770
0,ZZ,2011-12-31,2012-01-18,1.230151e+09,2.186,-0.10,0.000,-0.812,1.840

In [83]:
116720 / 14121

8.265703562070675

In [94]:
import random

random_company = random.choice(list_sf1)
print(random_company)
df_random_company = get_data(random_company)
df_random_company

MSG
Retrieving from file

,calendardate,datekey,revenueusd,currentratio,eps,dps,bvps,price
69778,2014-12-31,2015-03-27,9.136150e+08,0.288,NaN,0.0,NaN,80.73
69781,2015-12-31,2015-08-21,1.071551e+09,0.316,NaN,0.0,NaN,72.03
69782,2016-12-31,2016-08-19,1.115311e+09,2.609,-3.12,0.0,105.650,184.19
69783,2017-12-31,2017-08-17,1.318452e+09,1.902,-3.05,0.0,102.218,208.15
69784,2018-12-31,2018-08-17,1.559095e+09,1.849,5.99,0.0,107.083,298.17